<p>Preencha os campos e inclua uma tarefa em sua agenda.</p>
<hr/>


<form>


    <div class="mb-3">
        <label>Nome da tarefa:</label>
        <input type="text" class="form-control"/>
    </div>


    <div class="mb-3">
        <label>Data da tarefa:</label>
        <input type="date" class="form-control"/>
    </div>


    <div class="mb-3">
        <label>Prioridade da tarefa:</label>
        <select class="form-select">
            <option value="">Escolha uma opção</option>
            <option value="BAIXA">Baixa prioridade</option>
            <option value="MEDIA">Média prioridade</option>
            <option value="ALTA">Alta prioridade</option>
        </select>
    </div>


    <div class="mb-3">
        <label>Categoria da tarefa:</label>
        <select class="form-select">
            <option value="">Escolha uma opção</option>
        </select>
    </div>


    <div class="mb-3">
        <input type="submit" class="btn btn-success" 
         value="Cadastrar tarefa"/>
    </div>


</form>


